<!--page d'accueil du site web-->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../menu.css">
        <title>{{ titre }}</title>
    </head>
    <body>
        <div id="header">{% block header %}{% endblock %}</div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">{% block footer %}{% endblock %}</div>
    </body>
</html>
