<footer>
    <div class="bas_page">
        <div>
            <div class="baspage_titre">
                <strong><u>Marque</u></strong><br>
            </div>
            <div>
                Nous prenont a coeur la santer <br>
                et le bien être des animaux.
             </div>
        </div>
        <div class="media">
            <div>
                <div class="baspage_titre">
                    <strong><u>Média</u></strong>
                </div>
                <div>
                    Instagram: KLOR
                </div>
                <div>
                    Twitter: KLOR
                </div>
                <div>
                    Facebook: KLOR
                </div>
                <div>
                    Youtube: KLOR
                </div>
            </div>
        </div>
        <div>
            <div class="baspage_titre">
                <strong><u>Probleme technique?</u></strong>
            </div>    
            <u>Contactez-nous</u>
            <br>
            Telephone: 1-800-675-7333
            <br>
            Email: klor@hotmail.com
            <br>
            Adresse: 1166 Rue Caliro
        </div>
    </div>
    <div class="auteur">
        © Copyright 2023 Kevin Da Silva et Thai Minh Danny Nguyen
    </div>
</footer>