<!--page permettant la recherche d'animal-->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>liste des animaux offert pour une adoption</title>
    </head>
    <body>
        <!--Menu-->
        <header>
            <a href="./Accueil.html">
                <img src="" alt="Logo" />
            </a>
            <nav>
                <ul>
                    <li><a href="./templates/accueil.html">Accueil</a></li>
                    <li><a href="./templates/form.html">Mettre en adoption</a></li>
                    <li><a href="./templates/recherche.html">Adopter</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <div class="contenuRecherche">
                <div class="premierblock">
                    <h1>Rechercher le meilleur pour vous</h1>
                    <div class="barre_de_recherche"></div>
                </div>

                <div class="deuxiemeblock">
                    <article>
                        <header>
                            <img src="" alt="" />
                        </header>
                        <section>
                            <p>nom</p>
                            <p>espece</p>
                            <p>race</p>
                            <p>age</p>
                        </section>
                        <footer>
                            <a href="">En savoir plus</a>
                        </footer>
                    </article>

                    <article>
                        <header>
                            <img src="" alt="" />
                        </header>
                        <section>
                            <p>nom</p>
                            <p>espece</p>
                            <p>race</p>
                            <p>age</p>
                        </section>
                        <footer>
                            <a href="">En savoir plus</a>
                        </footer>
                    </article>

                    <article>
                        <header>
                            <img src="" alt="" />
                        </header>
                        <section>
                            <p>nom</p>
                            <p>espece</p>
                            <p>race</p>
                            <p>age</p>
                        </section>
                        <footer>
                            <a href="">En savoir plus</a>
                        </footer>
                    </article>
                </div>

                <div class="troisiemeblock">
                    <button>Voir plus</button>
                </div>
            </div>
        </section>

        <footer>
            <!--partie en bas-->
            <div>
                <p>&copy; Copyright 2023 Kevin Da Silva</p>
            </div>
        </footer>
    </body>
</html>
